---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
import Tags from '../components/Tags.astro';
---
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Astro | {frontmatter.title}</title>
    <style>
        *{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        img{
            border-radius: 4px;
            box-shadow: #333 1px 1px 5px;
        }
        a {
        color: #00539F;
        }
    </style>
</head>
<BaseLayout pageTitle={frontmatter.title}>
<a href="http://localhost:4321/blog/">atrás</a>
<p>{frontmatter.pubDate.toString().slice(0,10)}</p>
<p><em>{frontmatter.description}</em></p>
<p>Escrito por: {frontmatter.author}</p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <Tags />
<slot />
</BaseLayout>


